@media (min-width: 48em) {
.speech
{
	position: relative;
	width: 250px;
	height: 86px;
	text-align: center;
	line-height: 100px;
	color: #6a9fb5;
	font-family: "Abril Fatface", serif;
    font-size: 1.9rem;
	background-color: #fff;
	border: 8px solid #888;
	line-height: 160%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

.speech:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 70px;
	border: 25px solid;
	border-color: #888 transparent transparent #888;
}

.speech:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 70px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}
}
